@{
    ViewBag.Title = "Home Page";
}

<div ng-app="fetcher">
    <div class="text-center" ng-controller="mainPage" ng-cloak>
        <h1>Fetch and Store</h1>
        <br />
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" ng-model="queryType" ng-init="queryType=''">
                    <option value="">Query Type?</option>
                    <option value="get">GET</option>
                    <option value="head">HEAD</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" ng-model="protocol" ng-init="protocol=''">
                    <option value="">LOCAL</option>
                    <option value="http://">HTTP</option>
                    <option value="https://">HTTPS</option>
                </select>
            </div>
            
            <input ng-model="inputURL" type="text" class="form-control" id="url-input" placeholder="Input Url">
                
            <span>
                <span ng-if="queryType == ''">
                    <button disabled class="btn btn-primary btn-width">None</button>
                </span>
                <span ng-if="queryType == 'get' || queryType == 'head'">
                    <button ng-click="httpGetRequest(queryType, protocol, inputURL);" class="btn btn-primary btn-width">Fetch!</button>
                </span>
                <span>
                    <button ng-click="httpDisplayDatabase();" class="btn btn-primary btn-width">Display DB</button>
                </span>
            </span>
        </form>
        <br />
        <div class="container">
            <div ng-if="queryData.responseSent" class="row">
                <div class="col-xs-3 col-sm-offset-3">
                    <p>Query status: <span class="text-danger">{{queryData.statusCode}}</span></p>
                    <p>Your <span class="text-danger">{{queryData.queryType}}</span> request to <span class="text-danger">{{queryData.inputURL}}</span> took <span class="text-danger">{{queryData.responseTime}}</span> ms.</p>
                </div>
                <div class="col-xs-5">
                    <button ng-click="httpPostRequest(queryData);" class="btn btn-primary btn-width">Post It!</button>
                </div>
            </div>
        </div>

        <div ng-show="databaseData" class="container">
            <div class="row tableheadfont">
                <span class="col-xs-2 text-center">Request Method</span>
                <span class="col-xs-2 text-center">Request Time (ms)</span>
                <span class="col-xs-2 text-center">Response Time (ms)</span>
                <span class="col-xs-2 text-center">Status Code</span>
                <span class="col-xs-4 text-center">URL</span>
            </div>

            <div ng-repeat="databaseItem in databaseData" class="row" ng-class-even="'tablerowfont'">
                <span class="col-xs-2 text-center">{{databaseItem.HTTPMethod}}</span>
                <span class="col-xs-2 text-center">{{databaseItem.RequestTime}}</span>
                <span class="col-xs-2 text-center">{{databaseItem.ResponseTime}}</span>
                <span class="col-xs-2 text-center">{{databaseItem.StatusCode}}</span>
                <span class="col-xs-4 text-center">{{databaseItem.URL}}</span>
            </div>
        </div>

    </div>
</div>