@{
    ViewBag.Title = "Home Page";
}

<div ng-app="fetcher">
    <div class="text-center" ng-controller="mainPage">
        <h1 class="text-center">Fetch and Store</h1>
        <br />
        <form class="form-inline">
                <select class="form-control" ng-model="queryType">
                    <option selected value="">Choose Database Query</option>
                    <option value="get">GET</option>
                    <option value="post">POST</option>
                </select>
                <input ng-model="inputURL" type="text" class="form-control" id="url-input" placeholder="Input Url">
            <button ng-click="updateQueryType(queryType, inputURL);" class="btn btn-primary">Fetch</button>
        </form>
        <p id="user-field">Current Query Type is: {{queryType}}</p>
    </div>
</div>